.anim {
    position: absolute;
    will-change: transform;
    animation: marquee 15s linear infinite;
}

.anim:hover {
    animation-play-state: paused;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}